<div class="justify-center flex mt-4">
<nz-card [nzTitle]="formTitle" class="w-1/2 shadow-md" [nzExtra]="quit">
  <form nz-form class="w-full" [formGroup]="validateForm" (ngSubmit)="save(validateForm.value)">
    <nz-form-item>
		<nz-form-label [nzSpan] = "5" ><span class="text-lg">Product</span></nz-form-label>
		<nz-form-control
			nzValidationStatus="error"
			[nzSpan]="12"
			nzErrorTip="you must select a product to sell"
		>
		  <nz-select name = "select-error" formControlName="product">
		  	<nz-option [nzValue] = "product" [nzLabel]="product.name" *ngFor="let product of (products |async)"></nz-option>
		  </nz-select>
		 </nz-form-control>
	</nz-form-item>

	<nz-form-item>
        <nz-form-label [nzSpan]="5"><span class="text-lg">Price</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback >
          <nz-input-number name="input" style="width:100%" formControlName="price" nzValue="" ></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5"><span class="text-lg">Quantity</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-input-number name="input" style="width:100%"formControlName="quantity"></nz-input-number>
        </nz-form-control>
     </nz-form-item>

     <nz-form-item>
		<nz-form-label [nzSpan] = "5"><span class="text-lg">VAT?</span></nz-form-label>
		<nz-form-control
			nzValidationStatus="error"
			[nzSpan]="12"
			nzErrorTip="you must select a product to sell"
		>
		  <nz-select name = "select-error" formControlName="vat">
		  	<nz-option [nzValue] = true nzLabel="Yes"></nz-option>
		  	<nz-option [nzValue] = false nzLabel="No"></nz-option>
		  </nz-select>
		 </nz-form-control>
	</nz-form-item>

  <nz-form-item *ngIf="validateForm.value.vat">
    <nz-form-label [nzSpan]="5"><span class="text-lg">FSN</span></nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input name="input" style="width:100%" formControlName="FSN" />
    </nz-form-control>
</nz-form-item>

	<nz-form-item>
		<nz-form-label [nzSpan] = "5"><span class="text-lg">Customer</span></nz-form-label>
		<nz-form-control
			nzValidationStatus="error"
			[nzSpan]="12"
			nzErrorTip="you must select a customer to sell"
		>
		  <nz-select name = "select-error" formControlName="customer">
		  	<nz-option [nzValue] = "customer" [nzLabel]="customer.name" *ngFor="let customer of (customers | async)"></nz-option>
		  </nz-select>
		 </nz-form-control>
	</nz-form-item>

	<nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" class="m-4 w-32 rounded-sm">Sell</button>
        </nz-form-control>
     </nz-form-item>


</form>
</nz-card>
</div>

<ng-template #formTitle>
	<p class="text-xl text-weight-10 font-bold">Register a product sell</p>
</ng-template>

<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>

