<div class="justify-center flex mt-4">
<nz-card [nzTitle]="formTitle" class="w-3/4 shadow-md" [nzExtra]="quit">
<form nz-form class="w-full" [formGroup]="validateForm" (ngSubmit)="save(validateForm.value)">
	<nz-form-item>
		<nz-form-label [nzSpan]="5"><span class="text-lg">Product Name</span></nz-form-label>
		<nz-form-control [nzSpan]="12" nzHasFeedback>
			<input nz-input placeholder="name" formControlName="name">
		</nz-form-control>
	</nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">SKU</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="SKU" formControlName="sku">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Barcode</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Barcode or QR value" formControlName="barcode">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Category</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Category" formControlName="category">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Supplier</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Supplier" formControlName="supplier">
    </nz-form-control>
  </nz-form-item>

	<nz-form-item>
        <nz-form-label [nzSpan]="5"><span class="text-lg">Cost Price</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-input-number name="costPrice" style="width:100%" formControlName="costPrice"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

  <nz-form-item>
        <nz-form-label [nzSpan]="5"><span class="text-lg">Selling Price</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-input-number name="sellingPrice" style="width:100%" formControlName="sellingPrice"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

  <nz-form-item>
        <nz-form-label [nzSpan]="5"><span class="text-lg">Reorder Point</span></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-input-number name="reorderPoint" style="width:100%" formControlName="reorderPoint"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Location</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Warehouse, shelf, or bin" formControlName="location">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Batch Number</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Batch or lot number" formControlName="batchNumber">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Serial Number</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input placeholder="Serial number" formControlName="serialNumber">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5"><span class="text-lg">Expiry Date</span></nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input type="date" formControlName="expiryDate">
    </nz-form-control>
  </nz-form-item>

     <nz-form-item>
		<nz-form-label [nzSpan] = "5"><span class="text-lg">Unit of Measure</span></nz-form-label>
		<nz-form-control
			[nzSpan]="12"
      nzHasFeedback
		>
		  <nz-select name = "select" formControlName="unit"
      nzHasFeedback>
      <nz-option nzValue = "KG" nzLabel="KG"></nz-option>
      <nz-option nzValue = "Piece" nzLabel="Piece"></nz-option>
      <nz-option nzValue = "Meter-square" nzLabel="Meter-square"></nz-option>
      <nz-option nzValue = "Meter-cube" nzLabel="Meter-cube"></nz-option>
      <nz-option nzValue = "Meter" nzLabel="Meter"></nz-option>
      <nz-option nzValue = "Quintal" nzLabel="Quintal"></nz-option>
      <nz-option nzValue = "50KG" nzLabel="50KG"></nz-option>
      <nz-option nzValue = "100KG" nzLabel="100KG"></nz-option>
		  </nz-select>
		 </nz-form-control>
	</nz-form-item>

	<nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" class="m-4 w-32 rounded-sm" type="submit">Save</button>
        </nz-form-control>
     </nz-form-item>


</form>
</nz-card>
</div>

<ng-template #formTitle>
	<p class="text-xl text-weight-10 font-bold">Register a product </p>
</ng-template>

<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
