<div class="justify-center flex mt-4">
  <nz-card [nzTitle]="formTitle" class="w-1/2 shadow-md" [nzExtra]="quit">
  <form nz-form class="w-full" [formGroup]="validateForm" (ngSubmit)="save(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan] = "7"><span class="text-lg">Product Item</span></nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
      >
        <nz-select name = "select" formControlName="productItem">
          <nz-option [nzValue] = "product" [nzLabel]="product.product.name" *ngFor="let product of (productsInStore$|async)|| []"></nz-option>
        </nz-select>
       </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7"><span class="text-lg">Quantity</span></nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-input-number name="input" style="width:100%" formControlName="quantity"></nz-input-number>
      </nz-form-control>
  </nz-form-item>
    <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12" >
            <button nz-button nzType="primary" class="m-4 w-32 rounded-sm" type="submit">Save</button>
          </nz-form-control>
       </nz-form-item>
  </form>
  </nz-card>
  </div>

  <ng-template #formTitle>
    <p class="text-xl text-weight-10 font-bold">Production Registration </p>
  </ng-template>
  <ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
