
<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">
	<nz-table
	[nzData]="(productsInStore | async) ?? []"
	#productsTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>

	<thead>
		<tr>
			<th>Product Name</th>
			<th>SKU</th>
			<th>Category</th>
			<th>Unit of Measure</th>
			<th>Cost</th>
			<th>Selling</th>
			<th>quantity</th>
			<th>Reorder</th>
			<th>Location</th>
			<th>Total Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let product of productsTable.data">
			<td>{{product.name}}</td>
			<td>{{product.sku || '-'}}</td>
			<td>{{product.category || '-'}}</td>
			<td>{{product.unit}}</td>
			<td>{{product.costPrice || '-'}}</td>
			<td>{{product.sellingPrice || product.price}}</td>
			<td>{{product.quantity}}</td>
			<td>{{product.reorderPoint}}</td>
			<td>{{product.location || '-'}}</td>
			<td>{{(product.sellingPrice || product.price) * product.quantity}}</td>
			<td>
				<a [routerLink]="['/register/product', product.id]">
					<nz-icon nzType="edit" nzTheme="outline"></nz-icon>
				</a>
			</td>
		</tr>
	</tbody>
	</nz-table>

	<app-list-pagination
	  [total]="total"
	  [pageIndex]="pageIndex"
	  [pageSize]="pageSize"
	  (pageIndexChange)="onPageChange($event)"
	  (pageSizeChange)="onPageSizeChange($event)"
	></app-list-pagination>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Products in Store</span>
</ng-template>


<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
