<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">
	<nz-table
	[nzData]="(assets$ |async)?? []"
	#assetsTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th>Asset Name</th>
			<th>Price bought </th>
	<!--	<th>Expected utility consumption per month</th>
			<th>Expected maintenace cost</th> -->
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let asset of assetsTable.data">
			<td>{{asset.name}}</td>
			<td>{{asset.value}}</td>
			<td>{{asset.quantity}}</td>
		</tr>
	</tbody>
	</nz-table>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Assets of the company</span>
</ng-template>

<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>

