<nz-card [nzTitle]="attendanceTitle" class=" rounded-md" [nzExtra]="save" *ngIf="employees$|async">
  <nz-table
  [nzData]="(employees$ | async) ?? []"
  #emps
  ngSkipHydration
  [nzFrontPagination]="false"

  >
    <thead>
      <tr>
        <th>name</th>
        <th>in</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of emps.data">
        <td>{{ employee.name}}</td>
        <td class="" ><button nz-button (click)="check(employee)">check</button></td>
      </tr>
    </tbody>
  </nz-table>
  </nz-card>



<!--TODO make the button go right edge -->

  <ng-template #attendanceTitle>
    <span class="text-2xl font-bold"> Attendance {{today}}</span>
  </ng-template>

  <ng-template #save><div class="flex gap-4"><button class="r-0" nz-button nzType="default" nzDanger (click)="resetAttendanceIn()">reset</button> </div></ng-template><!-- <button class="r-0" nz-button nzType="primary" (click)="saveAttendance()">save</button>-->


