<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">
	<nz-table
	[nzData]="(materialsIn$ |async)?? []"
	#materialsInTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th>Material Name</th>
			<th>Unit of Measurement</th>
			<th>Price Per Unit</th>
			<th>Total Quantity</th>
			<th>Total Cost</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let materialIn of materialsInTable.data">
			<td>{{materialIn.material?.name}}</td>
			<td>{{materialIn.material?.unitOfMeasurement?.name}}</td>
			<td>{{materialIn.material?.price}}</td>
			<td>{{materialIn.quantity}}</td>
			<td>{{materialIn.quantity * materialIn.material?.price}}</td>
			<td>{{materialIn.purchaseDate | date:'MMM d, y, h:mm a'}}</td>
		</tr>
	</tbody>
	</nz-table>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Raw Materials Collected</span>
  <span class="date ml-4">
    <app-date-range-select
      [(startValue)]="startValue"
      [(endValue)]="endValue"
      [(preset)]="dateRangePreset"
      (rangeChange)="refreshDateRangeData()"
    ></app-date-range-select>
</span>
</ng-template>
<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
