<nz-card [nzTitle]="title" class="shadow-sm mt-2"[nzExtra]="quit">
	<nz-table
	[nzData]="(expenses$ |async)?? []"
	#expensesTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th>Description</th>
			<th>amount</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let expense of expensesTable.data">
			<td>{{expense.description}}</td>
			<td>{{expense.amount}}</td>
		</tr>
	</tbody>
	</nz-table>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Utility payments</span>
  <span class="date ml-4">
    <app-date-range-select
      [(startValue)]="startValue"
      [(endValue)]="endValue"
      [(preset)]="dateRangePreset"
      (rangeChange)="refreshDateRangeData()"
    ></app-date-range-select>
  </span>
</ng-template>
<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
