<nz-card [nzTitle]="attendanceTitle" class=" rounded-md" [nzExtra]="save" *ngIf="attendanceIns$|async">
  <nz-table
  [nzData]="(attendanceIns$ |async)??[]"
  #emps
  ngSkipHydration
  [nzFrontPagination]="false"

  >
    <thead>
      <tr>
        <th>name</th>
        <th>Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let att of emps.data">
        <td>{{att.employee.name}}</td>
        <td class="" ><button nz-button (click)="check(att)">check</button></td>
      </tr>
    </tbody>
  </nz-table>
  </nz-card>





  <ng-template #attendanceTitle>
    <span class="text-2xl font-bold"> Attendance {{today}}</span>
  </ng-template>

  <ng-template #save><div class="flex gap-4"><button class="r-0" nz-button nzType="default" nzDanger (click)="resetAttendance()">reset</button> </div></ng-template>
<!-- <button class="r-0" nz-button nzType="primary" (click)="saveAttendance()">save</button> -->

