
.header-menu {
  line-height: 64px;
}

.sider-menu {
  min-height: 100vh;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}
