<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">

	<nz-table
	[nzData]="(productsOut$ |async)?? []"
	#productsOutTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Unit of Measurement</th>
			<th>Price Per Unit</th>
			<th>Total Quantity</th>
			<th>Total revenue</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let productOut of productsOutTable.data">
			<td>{{productOut.product.name}}</td>
			<td>{{productOut.product.unit}}</td>
			<td>{{productOut.product.price}}</td>
			<td>{{productOut.quantity}}</td>
			<td>{{productOut.quantity * productOut?.product.price}}</td>
			<td>{{productOut.saleDate | date:'MMM d, y, h:mm a'}}</td>
		</tr>
	</tbody>
	</nz-table>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Products Sold</span>
  <span class="date ml-4">
    <app-date-range-select
      [(startValue)]="startValue"
      [(endValue)]="endValue"
      [(preset)]="dateRangePreset"
      (rangeChange)="refreshDateRangeData()"
    ></app-date-range-select>
</span>
</ng-template>
<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
