<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">
	<nz-table
	[nzData]="(expenses$ |async)?? []"
	#expensesTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th class="w-2/4">Description</th>
			<th class="w-1/4">amount</th>
      <th class="w-1/4">Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let expense of expensesTable.data">
			<td>{{expense.description}}</td>
			<td>{{expense.amount}}</td>
			<td >{{expense.date}}</td>
		</tr>
	</tbody>
	</nz-table>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">All Transactions</span>
  <span class="date ml-4">
    <nz-date-picker
            [nzDisabledDate]="disabledStartDate"
            nzFormat="yyyy-MM-dd"
            [(ngModel)]="startValue"
            nzPlaceHolder="Start"
            (nzOnOpenChange)="handleStartOpenChange($event)"
          ></nz-date-picker>
          <nz-date-picker
            #endDatePicker
            [nzDisabledDate]="disabledEndDate"
            nzFormat="yyyy-MM-dd"
            [(ngModel)]="endValue"
            nzPlaceHolder="End"
            (nzOnOpenChange)="handleEndOpenChange($event)"
          ></nz-date-picker>
  </span>
</ng-template>
<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
