<nz-card [nzTitle]="title" class="shadow-sm mt-2" [nzExtra]="quit">
	<nz-table
	[nzData]="((materials$ |async)?? []) | paginate: pageIndex : pageSize"
	#materialsTable
	[nzFrontPagination]="false"
	nzSize="small"
	nzBorderd="true"
	ngSkipHydration
	>
	<thead>
		<tr>
			<th>Material Name</th>
			<th>SKU</th>
			<th>Category</th>
			<th>Unit of Measurement</th>
			<th>Cost Price</th>
			<th>Price Per Unit</th>
			<th>Total Quantity</th>
			<th>Reorder</th>
			<th>Location</th>
			<th>Total Value</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let material of materialsTable.data">
			<td>{{material.name}}</td>
			<td>{{material.sku || '-'}}</td>
			<td>{{material.category || '-'}}</td>
			<td>{{material.unit}}</td>
			<td>{{material.costPrice || '-'}}</td>
			<td>{{material.price}}</td>
			<td>{{material.quantity}}</td>
			<td>{{material.reorderPoint}}</td>
			<td>{{material.location || '-'}}</td>
			<td>{{material.price * material.quantity}}</td>
		</tr>
	</tbody>
	</nz-table>
	<app-list-pagination
	  [total]="total"
	  [pageIndex]="pageIndex"
	  [pageSize]="pageSize"
	  (pageIndexChange)="pageIndex = $event"
	  (pageSizeChange)="pageSize = $event; pageIndex = 1"
	></app-list-pagination>
</nz-card>

<ng-template #title>
	<span class="text-xl font-bold text-blue-950">Raw Materials in Store</span>
</ng-template>
<ng-template #quit><a [routerLink]="[ '/home' ]"><nz-icon nzType="close" nzTheme="outline" /></a></ng-template>
